#budget{
    position: absolute;
    right:0;
    padding-right: 15px;
}

.searchInput {
    background-color: rgb(39, 38, 38);
    border-radius: 5px;
    padding:5px;
    color:white;
}

.container{
    padding: 15px;
}

.linkSearch {
    margin: 10px;
    color: white;
    text-decoration:none; 
    text-shadow: -1px -1px 0 rgb(110, 138, 145), 1px -1px 0 rgb(110, 138, 145), -1px 1px 0 rgb(110, 138, 145), 1px 1px 0 rgb(110, 138, 145);
}

#searchFinds{
    margin: 20px;
}