.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: rgb(20, 19, 19);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#nav {
  margin: 15px;
}

#nav > a{
  margin: 10px;
  color: white;
  text-decoration:none; 
  text-shadow: -1px -1px 0 rgb(110, 138, 145), 1px -1px 0 rgb(110, 138, 145), -1px 1px 0 rgb(110, 138, 145), 1px 1px 0 rgb(110, 138, 145);
}

#nav > span {
  color: aqua;
  font-weight: bold;
  position: absolute;
  right:0;
  top:0;
  margin:15px;
}